{# <link href="{{ asset('css/product.css') }}" rel="stylesheet"/> #}
<body>
<title>ATM</title>
{# <a style="color: red" href={{'/employee/list/' ~ employee.id }}}>{{ 'К банковским пореациям' }}</a> #}
<p>{{ employee }}</p>
<p>{{ balance }} {{ currency }}</p>
{#<p> {{ currency }}</p>#}
<a style="color: red" href={{ '/atm' }}>{{ 'To main page' }}</a>
</body>