{#<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>#}
<body>
<title>ATM</title>
{#<a style="color: red" href={{'/employee/list/' ~ employee.id }}}>{{ 'К банковским пореациям' }}</a>#}
<form action="" method="post">
    <input type="text" id="number" name="number" value="" placeholder="NUMBER OF CARD"><br>
    <input type="password" id="password" name="password" value="" placeholder="PASSWORD"><br>
    <input type="submit" value="Submit">
</form>
<a style="color: red" href={{'/employee/list'}}>{{ 'To main page' }}</a>
</body>