{#<link href="{{ asset('css/product.css') }}" rel="stylesheet"/>#}
<body>
<title>ATM</title>
{#<a style="color: red" href={{'/employee/list/' ~ employee.id }}}>{{ 'К банковским пореациям' }}</a>#}
<form action="" method="post">
    <a style="color: red" href={{'/atm/balance'}}>{{ 'Остаток средств' }}</a><br>
    <a style="color: red" href={{'/atm/money'}}>{{ 'Снять средства' }}</a><br>
    <a style="color: red" href={{'/atm/exit'}}>{{ 'Забрать карту' }}</a>
</form>
</body>